body{
    background-color: rgb(255, 255, 255);
}
div{
    width: 1000px;
    font: optional;
    color: rebeccapurple;
}
h1{
    font-size: 55px;
    color: rgb(255, 156, 7);
}
h2{
    font-size: 30px;
    color: rgb(255, 145, 0);
}
p{
    color: rgb(27, 27, 27);
}